version: "3"
services:
  vuejs:
    build: vuejs-front/
    ports:
      - 8080:8080
    command: sh -c "npm install && npm run dev"
    volumes:
      - "./vuejs-front:/app"
      - "/app/node_modules/"
    environment:
      HOST: santajs.test
  nginx-proxy:
    image: "nginx:stable"
    container_name: "nginx-proxy"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/vhost.d:/etc/nginx/vhost.d
    ports:
      - "8888:8000"
      - "8443:443"
    restart: always
    depends_on:
      - yoga
      - vuejs
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - "8800:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  prisma:
    image: prismagraphql/prisma:1.24
    restart: always
    depends_on:
      - mysql
    ports:
      - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: mysql
            host: mysql
            port: 3306
            user: root
            password: prisma
            migrations: true
  yoga:
    build: prisma/
    volumes:
      - "./prisma:/app"
      - "/app/node_modules/"
      - "/app/generated/"
    restart: always
    depends_on:
      - prisma
    ports:
      - 4000
  mysql:
    image: mysql:5.7
    restart: always
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: prisma
    volumes:
      - mysql:/var/lib/mysql
volumes:
  mysql:
